name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-minimal-api:$(date +%s)
    
    - name: Publish Image
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.CR_PAT }}
